@import "~normalize.css/normalize.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "fonts";

/* Media queries */
@lg: ~"screen and (min-width: 990px)";

/* Color Theme Swatches in Hex */
@red: #EA2D26;
@white: #FFFEFF;
@gray: #D3D3D3;
@lGray: #f0f0f0;
@black: #17222E;

*, *:before, *:after {
  box-sizing: border-box;
  appearance: none;
  outline: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font: 400 16px/20px 'Source Sans Pro', sans-serif;
  color: @black;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  user-select: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    &:before {
      content: '\2014 ';
      padding-right: 6px;
    }
  }
}

.content() {
  width: 100%;
  padding: 0 16px;
}

.css_anim() {
  transition: .2s all ease-in-out;
}

.form-template() {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 24px;
    padding-right: 28px;
  }

  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    &--faker {
      margin-bottom: 4px;
      margin-left: 8px;
    }

    &--row {
      display: flex;
      align-items: center;
    }
  }

  &__input {
    display: flex;
    width: 100%;
    border: 1px solid @gray;
    border-radius: 4px;
    padding: 0 8px;
    line-height: 34px;
    text-overflow: ellipsis;
  }

  &__textarea {
    display: flex;
    width: 100%;
    border: 1px solid @gray;
    border-radius: 4px;
    padding: 8px;
    resize: none;
    height: 128px;
  }

  &__list {
    width: 100%;
    margin-bottom: 12px;

    &--label {
      display: flex;
      margin-bottom: 4px;
      margin-left: 8px;
    }

    &__btn {
      .css_anim;

      border: 2px dashed @gray;
      background-color: transparent;
      color: @gray;
      padding: 8px 16px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 4px;
      width: 100%;

      &:hover {
        .css_anim;

        color: @black;
        border-color: @black;
      }
    }
  }

  &__btn {
    .css_anim;

    border: 2px solid @black;
    background-color: @black;
    color: @white;
    padding: 8px 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 16px;

    &:hover {
      .css_anim;

      background-color: lighten(@black, 20%);
      border-color: lighten(@black, 20%);
    }

    &.remove {
      background-color: @red;
      border-color: @red;

      &:hover {
        background-color: lighten(@red, 20%);
        border-color: lighten(@red, 20%);
      }
    }
  }

  &__rm-input {
    .css_anim;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: @black;
    width: 16px;
    height: 16px;
    cursor: pointer;
    flex-shrink: 0;
    appearance: none;
    border: 0;
    margin-left: 8px;
    background-color: transparent;

    &:after, &:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      position: absolute;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }

    &:hover {
      .css_anim;

      color: @red;
    }
  }
}

.hidden {
  display: none !important;
}

.vue-anim {
  &-enter-active, &-leave-active {
    transition: .3s all ease-in-out;
  }
}

.btn {
  .css_anim;
  border: 1px solid currentColor;
  border-radius: 2px;
  font-weight: bold;
  background-color: transparent;
  display: inline-flex;
  cursor: pointer;

  &:hover {
    .css_anim;
  }
}

.app {
  .css_anim;

  width: 100%;
  height: 100%;
  position: relative;
  background-color: @black;
}

.task-table {
  width: 100%;
  height: 100%;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    height: 16px;

    &-track {
      background-color: transparent;
    }

    &-thumb {
      background-color: @gray;
    }
  }
}

.persons {
  .css_anim;

  width: max-content;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 16px 16px 16px 0;
  background-color: @black;
}

.person {
  .css_anim;

  width: 288px;
  flex-shrink: 0;
  height: 100%;
  display: inline-flex;
  flex-direction: column;
  margin-left: 16px;

  &__info {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    height: 57px;
    background-color: @lGray;
    padding: 16px;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid @gray;
  }

  &__name {
    text-align: center;
    width: 100%;
    line-height: 24px;
  }

  &__rm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:before, &:after {
      content: '';
      display: block;
      width: calc(100% - 6px);
      height: 2px;
      position: absolute;
      background-color: @red;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  &__wrap {
    max-height: 100%;
    border-radius: 4px;
    min-height: 1px;
    overflow: hidden;
    background-color: @white;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &__tasks {
    .css_anim;

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    flex: 1 1 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    padding-bottom: 16px;

    &__ghost {
      .css_anim;

      z-index: 10;
      position: relative;
      box-shadow: 0 0 15px -3px rgba(23, 34, 46, .5);

    }

    &::-webkit-scrollbar {
      width: 8px;

      &-track {
        background-color: @lGray;
      }

      &-thumb {
        background-color: @gray;
      }
    }
  }

  &__footer {
    width: 100%;
    padding: 16px;
    display: flex;
    background-color: @lGray;
    flex-shrink: 0;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid @gray;

    &--label {
      flex: 1 1 100%;
    }

    &--input {
      border: 1px solid @black;
      border-right: 0;
      border-radius: 4px 0 0 4px;
      padding: 8px;
      color: @black;
      text-overflow: ellipsis;
      width: 100%;
    }

    &--btn {
      .css_anim;

      background-color: @black;
      border: 1px solid @black;
      color: @white;
      font-weight: normal;
      padding: 8px;
      border-radius: 0 4px 4px 0;
      flex-shrink: 0;
      cursor: pointer;

      &:hover {
        background-color: lighten(@black, 20%);
        border-color: lighten(@black, 20%);
      }
    }
  }

  &__btn {
    transition: border 0s, color .3s, background-color .3s;
    border: 2px dashed @white;
    background-color: @black;
    color: @white;
    padding: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;

    &:hover {
      transition: border 0s, color .3s, background-color .3s;
      background-color: @white;
      color: @black;
      border-color: @white;
      border-style: solid;
    }
  }
}

.task {
  .css_anim;

  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  margin: 8px 16px 0;
  padding: 16px;
  background: @white;
  border-radius: .3em;
  border: 1px solid @gray;
  flex-shrink: 0;
  -webkit-overflow-scrolling: touch;
  cursor: pointer;

  &:first-child {
    margin-top: 16px;
  }

  &:nth-child(n+2) {
    margin-top: 16px;
  }

  &__name {
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 4px;
  }

  &__date {
    flex-shrink: 0;
    padding-left: 8px;
    margin-left: auto;
    padding-top: 4px;
  }

  &__desc {
    padding: 4px 0;
  }

  &__list {
    padding: 4px 0;

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 1px);
      display: block;
    }
  }

  &__persons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0;
  }

  &__person {
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 16px;
    margin: 4px 4px 4px 0;
    overflow: hidden;
    position: relative;
    border-radius: 50%;
    background-color: @black;

    &--name {
      color: @white;
    }

    &--img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      width: 100%;
      height: 100%;
      content: '';
      position: absolute;
    }
  }

  &:hover {
    .css_anim;

    @media @lg {
      box-shadow: 0 0 25px -5px fadeout(@black, 70%);
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: fadeout(@black, 40%);
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow: auto;

  &__background {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
  }

  &__wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    padding: 16px;
    min-height: 100%;
  }

  &__container {
    background-color: @white;
    padding: 16px;
    border-radius: 8px;
    height: auto;
    min-width: 288px;
    max-width: 320px;
    width: calc(100% - 32px);
    display: flex;
    flex-direction: column;
    position: relative;
    pointer-events: auto;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
  }

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 18px;
    color: @black;
    width: 18px;
    height: 18px;
    cursor: pointer;

    &:after, &:before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      position: absolute;
    }

    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.create-user {
  .form-template;
}

.create-task {
  .form-template;
}

.multiselect {
  &__tags {
    border-color: @gray;
  }

  &__element {
    &:before {
      display: none;
    }
  }

  &__content {
    &-wrapper {
      border: 1px solid @gray;
      box-shadow: 0 -5px 15px -5px fadeout(@black, 70%);
    }
  }

  &__placeholder {
    font-size: 16px;
    line-height: 20px;
  }

  &__single {
    color: @black;
  }
}
